[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.*"
textfsm = "==1.1.*"
eventlet = "==0.25.*"
flask-socketio = "==4.*"
python-socketio = "==4.*"
python-engineio = "==3.*"  # https://flask-socketio.readthedocs.io/en/latest/#version-compatibility

[requires]
python_version = "3.8"
